body{
  background-color: #006400;
}
#painelFormulario{
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  background-color: #bca625;
  color: #000000;
  width: 600px;
  height: 600px;
  margin: 100px auto;
  padding: 30px;
}
#painelFormulario h1{
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 50px;
}
#painelFormulario table select{
  width: 200px;
}
#painelformulario tr{
  height: 35px;
}
#painelFormulario table tr td div{
  float: right;
}
#painelFormulario table tr td label{
  float: right;
}
#painelFormulario .campo-texto{
  border: 4px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  width: 200px;
}
label.error{
  background-color: red;
  color: #FFFFFF;
  margin-left: 5px;
  padding: 0 5px 0;
  position: absolute;
}
